/* GLOBAL */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0d0d0d;
    color: #eee;
}

/* NAV BAR */
.nav {
    width: 100%;
    background: #000;
    padding: 15px 0;
    position: fixed;
    top: 0;
    z-index: 10;
    border-bottom: 2px solid #111;
}

.nav-inner {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    color: #ccc;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

.nav a:hover {
    color: #6aff6a;
}

/* HERO SECTION */
.hero {
    height: 90vh;
    width: 100%;
